<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <input name="task_name" minlength="5" maxlength="50" type="text" class="validate" required>
        <label for="task_name">Task Name</label>
        <textarea name="task_description" minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
        <label for="task_description">Task Description</label>
    </form>
</body>
</html>